global
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    balance {strategy}

frontend ss-in
    bind 127.0.0.1:{port}
    default_backend ss-out

backend ss-out
#    server www.google.com www.google.com:1 check
