{   "log": {
        "loglevel": "error"
    },
    "inbounds": [{
        "tag": "socks-in",
        "port": 1080,
        "listen": "127.0.0.1",
        "protocol": "socks",
        "settings": {
            "auth": "noauth",
            "udp": true
        }
    }],
    "outbounds": [
        {
          "protocol": "freedom",
          "tag": "direct",
          "settings": {
            "domainStrategy": "AsIs"
          }
        },
        {
          "protocol": "blackhole",
          "settings": {},
          "tag": "adblock"
        }
    ],
    "routing": {
      "domainStrategy": "IPOnDemand",
      "rules": [
        {
          "type": "field",
          "ip": [
            "geoip:private"
          ],
          "outboundTag": "direct"
        }
      ]
    }
}
